<% @blog = @node.page %>

<% content_for :page_admin_bar do %>
  <%= link_to 'Page Settings',  edit_admin_blog_path(@blog), :class => 'btn large' %>
  <%= link_to 'New Post', new_admin_blog_post_path(@blog), :class => 'btn large' %>
  <a class="btn yellow large" href="#">Preview page</a>
<% end %>


<% if admin? %> <div class="admin clearfix"> <% end %>
  <p><%=raw @blog.banner %></p>
  <% @blog.posts.each do |post| %>
    <%= render :partial => 'blogs/post_list', :locals => {:post => post} %>
  <% end %>
  <% if admin? %> </div><% end %>
