<ul class="blogList">
  <% @node.page.posts.each do |post| %>
  <li>
    <span class="postTitle">
      <% if admin? %>
        <%= link_to "Edit", "Fix-me-Quinn" %>
      <% end %>
      <%= link_to post.title, shortcut_path(post.node.shortcut) %>
    </span>
    <span class="postDate"><%= post.created_at.strftime("%B %d, %Y %l:%m%p") %> </span>
  </li>
<% end %>
</ul>
