<h1><%= @message ? @message : 'Site Error' %></h1>
<% if @shortcut %>
  <p>Your request for: <%= link_to shortcut_url(@shortcut).to_s, shortcut_path(@shortcut)  %> does not exist, did you mean:</p>
  <ul>
    <% if @similar_nodes.empty? %>
      <li>No similar site locations</li>
    <% else %>
      <% @similar_nodes.each do |node| %>
        <li><%= node.menu_name %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>


