<!-- Element -->
<article class="admin">
  <span class="controls">

    <%= form_tag(new_element_path(:shortcut => @shortcut, :position => position)) do %> 
      <%= select_tag :elem_controller, options_for_select(Element.get_elem_select), :prompt => true %>
      <%= submit_tag "Add Element", :class => 'btn add small' %>
    <% end %>

  </span>
</article>
<!-- Element -->
