<% if admin? %> <div class="admin clearfix"> <% end %>
  
  <% @elements.elements_for_position(position).each do |element|  %>
    <%= render :partial => 'elements/element', :locals => {:element => element} %>
  <% end %>

  <% if admin? %>
    <%= render :partial => 'elements/new_element_select', :locals => {:position => position} %>
  <% end %>

<% if admin? %> </div><% end %>