<% unless elem.title.blank? %><h1 class="title"><%= elem.title %></h1><% end %>
<ul>
  <% elem.links.each do |link| %>
    <li>
      <%= render :partial => 'elem_partials/link', :locals => {:link => link} %>
    </li>
  <% end %>
</ul>
