
<a class="rss" href="/feed">Subscribe</a>
<% if @recent_news and @recent_news.count > 0 %>
  <ul>
    <% @recent_news.each do |article| %>
      <li>
        <h2 class="postTitle"><%= link_to article.title, news_article_path(article) %></h2>
        <div class="postInfo"><span class="postDate"><%= article.updated_at.strftime("%I %p - %b %d, %Y") %> (August 11, 2010) </span></div>
      </li>
    <% end %>
  </ul>
<% else %>
  <ul>
    <li>
      <h2 class="postTitle">Platinum Eagle Proof Values Robust</h2>
      <div class="postInfo"><span class="postDate">August 11, 2010</span></div>
    </li>
    <li>

      <h2 class="postTitle">Platinum Eagle Proof Values Robust</h2>
      <div class="postInfo"><span class="postDate">August 11, 2010</span></div>
    </li>
    <li>
      <h2 class="postTitle">Platinum Eagle Proof Values Robust</h2>
      <div class="postInfo"><span class="postDate">August 11, 2010</span></div>
    </li>

  </ul>
<% end %>


