<% @templt = @templt || @node.page %>
<% @elements = @elements || @templt.elements.elem_order %>

<% content_for :page_admin_bar do %>
  <%= link_to 'Page Settings',  edit_admin_template_path(@node.page_id), :class => 'btn large' %>
  <a class="btn yellow large" href="#">Preview page</a>
<% end %>
<%= render :partial => "template_partials/#{@node.page.underscore_template_name}" %>
