<h2>Your Won Auctions</h2>
<% if defined?(@won_auctions) and @won_auctions.count > 0 %>
  <% @won_auctions.each do |auction| %>
    <%= render 'partials/auction', :locals => {:auction => auction} %>
  <% end %>
<% else %>
  <p>You have not won any auctions yet</p>
<% end %>
<h2>Your Lost Auctions</h2>
<% if defined?(@auctions_bid_on) and @auctions_bid_on.count > 0 %>
  <% @auctions_bid_on.each do |bid| %>
    <p>Your Bid: <%= bid.amount_to_currency %></p>
    <%= render 'partials/auction', :locals => {:auction => bid.auction} %>
  <% end %>
<% else %>
  <p>You have not bid on any auctions yet</p>
<% end %>