<div id="fc_minicart">
  <p>
    <%= link_to image_tag("cart.png", :alt => "Your cart"), "https://KERN-Coin.foxycart.com/cart?cart=view", :class => "foxycart" %> 
    <span id="fc_quantity">0</span> items, 
    $<span id="fc_total_price">0.00</span>
    | <a href="https://KERN-Coin.foxycart.com/cart?cart=checkout" class="foxycart">Checkout Now ></a>
  </p>
</div>
