<title>KernCoinProject</title>
<link rel="shortcut icon" type="image/png" href="template/favicon.png" />

<%= stylesheet_link_tag 'style', 'addons/colorbox', 'event_calendar', 'jsTreeStyle', :cache => 'kern-styles' %>
<%= javascript_include_tag 'jquery.min', 'rails.jquery', 'jquery.bgiframe.min', 'jquery.colorbox-min', 'event_calendar', 'jquery.json-2.2.min.js', 'jquery.jstree.js', 'application', :cache => 'kern-javascripts'  %>
<%= javascript_include_tag :ckeditor %>
<%#= stylesheet_link_tag 'style', :cache => 'kern-styles' %>
<%= csrf_meta_tag %>

<!--[if lt IE 9]><script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js" type="text/javascript"></script><![endif]-->

<% if false %>
<script src="http://KERN-Coin.foxycart.com/files/foxycart_includes.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="http://KERN-Coin.foxycart.com/files/foxybox.css" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" href="http://KERN-Coin.foxycart.com/themes/standard/theme.foxybox.css" type="text/css" media="screen" charset="utf-8" />
<% end %>
