<title>KernCoinProject</title>
<link rel="shortcut icon" type="image/png" href="/template/favicon.png" />

<%= stylesheet_link_tag 'style', 'addons/colorbox', 'event_calendar', :cache => 'kern-styles' %>
<%= javascript_include_tag 'jquery.min', 'rails.jquery', 'jquery.bgiframe.min', 'jquery.colorbox-min', 'event_calendar', 'jquery.json-2.2.min', 'application', :cache => 'kern-javascripts'  %>
<%= javascript_include_tag :ckeditor %>
<%#= stylesheet_link_tag 'style', :cache => 'kern-styles' %>
<%= csrf_meta_tag %>

<!--[if lt IE 9]><link href="stylesheets/style.css" rel="stylesheet" media="all" type="text/css" /><![endif]-->


