<% cart = defined?(locals[:cart]) ? locals[:cart] : @cart %>

<div class="cart-title">Cart</div>
<table>
  <% cart.items.each do |cart_item| %>
    <%= render( "partials/cart_item" , :locals => {:cart_item => cart_item}) %>
  <% end %>
  <tr class="total-line">
    <td colspan="2">Total</td>
    <td class="total-cell"><%= number_to_currency(cart.total_price) %></td>
  </tr>
</table>
<%= button_to 'Checkout', home_url %>
<%= button_to 'Empty', store_empty_cart_path, :remote => true %>