<% item = defined?(locals[:item]) ? locals[:item] : @item %>

<td class="thumb">
  <% unless item.product_images.empty? %>
    <%= image_tag item.product_images.first.image.url(:thumb) %>
  <% else %>
    <%= image_tag "items/no_image.gif" %>
  <% end %>
</td>

<td><strong><%= item.name %></strong></td>

<td>
  <%= item.short_details %>
</td>

