.clearfloat { display: block; }
.clearfloat:after {clear: both; content: '.'; display: block;  height: 0px; visibility: hidden;}
* {margin: 0px; outline: none; padding: 0px;}

body { background-color: #6666ff; color: #1D1D1D; min-height: 101%; font: 12px sans-serif; }

#page { margin: 0px auto; padding-top: 8px; width: 945px; }

#wrapper { background: white; border: 1px solid #000000; padding: 0px 25px 60px; }

#header { padding: 22px 0px;}
#nav-menu { border-top: 1px solid #83A8B9; line-height: 1; margin: 0px auto 25px; padding: 6px 0px 6px 15px; position: relative;}
#nav-menu li {border-right: 1px dotted #83A8B9; float: left; list-style: none; margin-right: 25px; padding: 0px 25px 0px 13px !important; position: relative;}
#nav-menu a, a:visited {color: #141414; display: block; letter-spacing: 0.07em; padding-bottom: 3px; text-decoration: none;}
#content {float: left; width: 620px;}

#right-panel {float: right; width: 200px;}
#right-panel div.panel {padding: 8px; margin-bottom: 25px; border-bottom: black solid 3px;}
table.panel.th, table.panel.td {padding: 4px;}

pre { background-color: #eee; padding: 10px; font-size: 11px; }
div.image { float: left; margin: 15px; border: #737357 solid 4px; }

h1 {display: inline;}
#header-controller {font-size: 16px;}
#header-action {font-size: 13px;}

a, a:visited  { color: #000; display: inline; letter-spacing: normal; }
a:hover { color: #607B88; }
p, h2, h3, h4 {margin-bottom: 10px;}
h4 {font-size: 9px;}
p {padding-left: 5px;}
li {display: block; padding-left: 5px; margin-bottom: 4px;}

div.field, div.actions { margin-bottom: 10px; }

table { border-collapse: collapse; }
td, th {padding: 10px; margin: 0px;}
th {border-bottom: 2px solid #737357; }
tr { margin: 3px; }
tr.hover {background-color: #DDF0DD; }


#notice {  color: green; width: 300px; }
#important-notice {  color: red; background-color: #888888; border: red solid 4px; width: 300px; }

.field_with_errors { padding: 2px; background-color: red; display: table; }
#error_explanation { width: 300px; border: 2px solid red; padding: 7px; padding-bottom: 0; margin-bottom: 20px; background-color: #f0f0f0; }
#error_explanation h2 { text-align: left; font-weight: bold; padding: 5px 5px 5px 15px; font-size: 12px; margin: -7px;
                        margin-bottom: 0px; background-color: #c00; color: #fff; }
#error_explanation ul li { font-size: 12px; list-style: square; }




/* Styles for the cart in the main page */
.cart-title {
    font: 120% bold;
}
.item-price, .total-line {
    text-align: right;
}
.total-line .total-cell {
    font-weight: bold;
    border-top: 1px solid #595 ;
}
/* Styles for the cart in the sidebar */
#cart, #cart table {
    font-size: smaller;
}
#cart table {
    border-top: 1px dotted #595 ;
    border-bottom: 1px dotted #595 ;margin-bottom: 10px;
}

.locale {
    float:right;
    padding-top: 0.2em
}
