<% if @bid_section %>
  <div id="<%= @bid_section.section_name %>" class="section">
    <p class="title"><%= @bid_section.title %></p>
    <p class="body"><%=raw @bid_section.body %></p>
  </div>
<% end %>