<div id="top"></div>
<!-- Element -->
<% unless @welcome_section %>

  <article class="text" id="<%= @welcome_section.section_name %>">
    <h1 class="title"><%= @welcome_section.title %></h1>
    <%=raw @welcome_section.body %>
    <a href="/about-us"><img style="float: right; margin-top: 8px;" src="images/learn-more.png" alt="Learn More About Us" /></a>
  </article>

<% else %>

  <article class="text">
    <h1 class="title">Welcome</h1>
    <p>
      Since 1971 Jonathan Kern has been a knowledgeable dealer and
      collector in ancient, foreign, and U.S. coinage along with tokens, paper
      money and antiquities.
    </p>
    <p>
      We take great pride in putting the customer first. Please take a look at
      our current inventory listing or drop us a line so we may help you with
      your numismatic need.
    </p>
    <a href="/about-us"><img style="float: right; margin-top: 8px;" src="images/learn-more.png" alt="Learn More About Us" /></a>
  </article>

<% end %>
<!-- /Element -->