<h2>Announcements</h2>
<table>
  <% @pages.each do |page| %>
    <tr>
      <%= render 'partials/page', :locals => {:page => page} %>
      <td><%= link_to "Read More", page_path(page.id) %></td>
    </tr>
  <% end %>
</table>
<%= link_to "Home", home_path %>

