<ul class="calendarList">
  <% events.each do |event| %>
    <li>
      <h2 class="eventTitle">
	<% if admin? %><%= link_to (image_tag "edit.png", :alt => "Edit"), edit_admin_calendar_event_path(event.calendar, event) %><% end %>
	<%= link_to event.name, shortcut_path(event.node.shortcut) %>
      </h2>
      <p class="postInfo">
	<span class="postDate">
	  <%= event.start_at.strftime("%B %d") %>, 
	  <%= event.all_day ? 'All Day' : ("#{event.start_at.strftime("%l:%m%p")} - #{event.end_at.strftime("%l:%m%p")}") %>
        </span>
      </p>
    </li>
  <% end %>
</ul>
