<ul class="itemList">
  <% items.each do |item|%>
    <%= content_tag_for :li, item do %>
      <div class="thumbnail"> <%= link_to image_tag(item.thumbnail_image ? item.thumbnail_image : "no_image_thumb.gif"), shortcut_path(item.nodes.first.shortcut) %> </div>
      <p class="title"><%= link_to item.name, shortcut_path(item.nodes.first.shortcut) %></p>
      <p class="cost"><%= number_to_currency(item.cost) %></p>
    <% end %>
  <% end %>
</ul>