<div class="thumbnail-list">
  <p class="title"><%= link_to category.title, inventory_category_path(category) %></p>
  <p class="thumbnail"><%= link_to (image_tag category.thumbnail_image), inventory_category_path(category) %></p>
</div>