<section id="content" class="clearfix">
  <div id="wrapper">
    <section id="mainColumn" class="clearfix contents">
      <div id="top"></div>
      <div id="inner">
        <!-- Render Admin Stuff -->
        <%= yield %>
      </div>
    </section>

    <section id="subColumn" class="clearfix contents">
      <div id="top"></div>
      <div id="inner">
        <%= render :partial => 'layouts/site_partials/admin_menus' %>
      </div>
    </section>
  </div>
</section>
