<h3>Admin Tools</h3>
<ul>
  <li><%= link_to "Pages Admin", admin_pages_path %></li>
  <li><%= link_to "Items Admin", admin_items_path %></li>
  <li><%= link_to "Users Admin", admin_users_path %></li>
  <li><%= link_to "Categories Admin", admin_categories_path %></li>
</ul>
