<title>KernCoinProject</title>
<%= stylesheet_link_tag :all %>
<%= javascript_include_tag 'jquery.min', 'rails.jquery', 'jquery.colorbox-min', 'superfish', 'application', 'supersubs', 'hoverIntent'  %>
<%= javascript_include_tag :ckeditor %>
<%= csrf_meta_tag %>

<!-- BEGIN FOXYCART FILES 
<script src="http://KERN-Coin.foxycart.com/files/foxycart_includes.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="http://KERN-Coin.foxycart.com/files/foxybox.css" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" href="http://KERN-Coin.foxycart.com/themes/standard/theme.foxybox.css" type="text/css" media="screen" charset="utf-8" />
 END FOXYCART FILES -->