<!-- Element -->
<article class="text">
  <h3>Inventory</h3>
  <div id="categoryList">
    <%#= render_navigation(:level => 2..4, :expand_all => true) %>
    <%= render_navigation(:level => 2..4) %>
  </div>
</article>
<!-- /Element -->